﻿@using FileShareEPAM.ViewModels
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<!--HEADER===================================================================================================-->
    <div class="navbar navbar-inverse nav">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">FileShare</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="divider-vertical"></li>
                        <li><a href="@Url.Action("Index", "Account")"><i class="icon-home icon-white"></i> Home</a></li>
                    </ul>
                </div>
                @Html.Partial("_LoginWidget")
            </div>
        </div>
    </div>
<!--==========================================================================================================-->

    @RenderBody()

<!--FOOTER===================================================================================================-->
    <div class="container">	
        <div class="row-fluid">
            <div class="span12">
                <div class="span8">
                    <a href="@Url.Action("Terms", "Home")">Terms of Service</a>        
                    <a href="@Url.Action("Privacy", "Home")">Privacy</a>    
                    <a href="@Url.Action("Security", "Home")">Security</a>
                </div>
                <div class="span4">
                    <p class="muted pull-right">© @DateTime.Now.Year FileShare Company. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
<!--==========================================================================================================-->

<!--MODAL=====================================================================================================-->
    <div id='dialogDiv' class='modal hide fade in'>
        <div id='dialogContent'></div>
    </div>
<!--==========================================================================================================-->

    @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('body').on('click', '.show-modal', function () {
                var url = $(this).data('url');

                $.ajax({
                    url: url,
                    dataType: 'HTML', 
                    success:function(data){
                        $('#dialogContent').html(data);
                        $('#dialogDiv').modal('show');
                    },
                    error:function(){
                        alert("Error happend. Try to reload the page or come back later");
                    },
                });
            });
        });
    </script>
</body>
</html>
    