﻿
<div class="pull-right">
    <ul class="nav pull-right">
                    
                
@if (User.Identity.IsAuthenticated)
{
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, @User.Identity.Name <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href ="@Url.Action("Index", "Account")"><i class="icon-cog"></i>Home</a></li>
                <li><a href ="@Url.Action("Terms", "Home")"><i class="icon-envelope"></i>Terms of use</a></li>
                <li class="divider"></li>
                <li><a href ="@Url.Action("Logout", "Account")"><i class="icon-off"></i>Logout</a></li>
            </ul>
        </li>
}
else
{
         @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-primary"})
} 
    </ul>
</div>