﻿@model FileShareEPAM.ViewModels.ModalWindow 
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick = "$('#myModal').modal('hide')">×</button>
        <h3 id="myModalLabel">@Model.Header</h3>
    </div>
    <div class="modal-body">
        <p>@Model.Message</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" onclick = "$('#myModal').modal('hide')">Close</button>
    </div>
</div>


