﻿@{
    ViewBag.Title = "FileShare";
}
<div class="hero-unit" style ="background-color:  flavor">
    <h1>FileShare for You!</h1><br />
    <p>"Home, sweet home" for Your files!</p>
    <br />
    @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-primary"})
    @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-primary"})
</div>