﻿@{
    ViewBag.Title = "Home";
}

<!--SIDEBAR==========================================================================================================-->
<div class ="span3">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
              <li class="nav-header">Manager files</li>
              <li class="divider"></li>
              <li class="active">
                  @Html.ActionLink("Upload File", "FileUpload", "File",  null, new { @class = "btn btn-primary"})
              </li>
              <li class="divider"></li>
              <li>
                  @Ajax.ActionLink("All files", "Index", null ,new { filter = "all" },
                       new AjaxOptions
                       {
                           UpdateTargetId = "files",
                           Url = Url.Action("ListOfFiles", "File", new { filter = "all" })
                           
                       })
              </li>
              <li>
                  @Ajax.ActionLink("Common files", "Index", null ,new { filter = "common" },
                       new AjaxOptions
                       {
                           UpdateTargetId = "files",
                           Url = Url.Action("ListOfFiles", "File",new { filter = "common" })
                       })
              </li>
              <li>
                  @Ajax.ActionLink("Private files", "Index", null ,new { filter = "private" },
                       new AjaxOptions
                       {
                           UpdateTargetId = "files",
                           Url = Url.Action("ListOfFiles", "File",new { filter = "private" })
                       })
              </li>
        </ul>
    </div>
</div>
<!--=================================================================================================================-->

<!--FILE CONTAINER======================================================================================================-->
<div class ="span9">
        <table class="table" >
          <thead>
            <tr>
              <th></th>
              <th>Caption</th>
              <th>File size</th>
              <th>Permission</th>
              <th>Actions</th>
            </tr>
          </thead>
            <tbody id ="files">
                    @Html.Action("ListOfFiles", "File")
            </tbody>
        </table>
</div>
<!--===================================================================================================================-->

