﻿@model FileShareEPAM.ViewModels.LoginModel
@{
    ViewBag.Title = "Login";
}
@using(Html.BeginForm()){
<div class="container">
	<div class="row">
		<div class="span4 offset4 well">
            <div id ="legend">
                <legend>Please, Sign In</legend>
            </div>
            <div style="color: red">
			    @Html.ValidationSummary(String.Empty, new { @class = "text-error"})
            </div>
            @Html.TextBoxFor(u => u.Name, new { @class="span4", placeholder="Input name" })
            @Html.PasswordFor(u => u.Password, new { @class="span4", placeholder="Input password"})
			<button type="submit" name="submit" class="btn btn-primary">Sign in</button>
            @Html.ActionLink("Register", "Register", null, new { @class = "btn btn-primary"})
		</div>
	</div>
</div>
}