﻿@model FileShareEPAM.ViewModels.RegisterModel
@{
    ViewBag.Title = "Register";
}

@using(Html.BeginForm()){
  <div class ="container">
  <fieldset>
    <div id="legend">
      <legend class="">Register</legend>
    </div>
    <div style="color: red">
        @Html.ValidationSummary(String.Empty, new { @class = "text-error"})
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="username">Username</label>
      <div class="controls">
        @Html.TextBoxFor(u => u.Name, new { @class="input-xlarge", placeholder="Input name"})
      </div>
    </div>
 
    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        @Html.TextBoxFor(u => u.Email, new { @class="input-xlarge", placeholder="Input email"})
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        @Html.PasswordFor(u => u.Password, new { @class="input-xlarge", placeholder="Input password"})
      </div>
    </div>
 
    <div class="control-group">
      <!-- Confirm Password -->
      <label class="control-label"  for="password_confirm">Password (Confirm)</label>
      <div class="controls">
        @Html.PasswordFor(u => u.ConfirmPassword, new { @class="input-xlarge", placeholder="Input password again"})
      </div>
    </div>
 
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-primary">Register</button>
      </div>
    </div>
  </fieldset>
  </div>
}