﻿@model IEnumerable<FileShareEPAM.ViewModels.FileInformation>

@foreach (var fileInfo in Model)
{
    <tr>
        <td><input id = "@fileInfo.Name" type="checkbox" name="file" /></td>
        <td>@Html.ActionLink(fileInfo.Name, "FileDownload", new { fileName = fileInfo.Name})</td>
        <td>@fileInfo.Size<b> byte</b></td>
        <td>@fileInfo.Permission</td>
        <td>
            <div class="btn-group">
                @Ajax.ActionLink("Delete", "Index", new { fileName = fileInfo.Name }, new AjaxOptions
                        {
                            Url = Url.Action("DeleteFile", new { fileName = fileInfo.Name }),
                            HttpMethod = "Post",
                            Confirm = "Are you really want to delete this file?",
                            UpdateTargetId = "files"
                        },
                        new 
                        {
                            @class = "btn btn-primary"
                        })
                <button data-url='@Url.Action("GetShortLink", new { fileName = fileInfo.Name })' class = "btn btn-primary show-modal">Get short link</button>
            </div>
        </td>
    </tr>
}

