﻿@{
    ViewBag.Title = "FileUpload";
}

<div class = "container">
<h1>Uploading file</h1>
<div style="color: red">
    @Html.ValidationSummary()
</div>
@using (Html.BeginForm("FileUpload", "File", FormMethod.Post, new {enctype="multipart/form-data"})) 
{      
  <input type="file" name="file" id="file"/>
  <br />
   <label class="checkbox">
     <text> Is Private File: </text> 
     @Html.CheckBox("isPrivate", false)
   </label>
  <br />
  <input type="submit" class ="btn btn-primary" />
}
</div>